*.pyc
*__pycache__
*egg-info
trained_models

# PyPI
build/*
dist/*
.idea/

# Docs
.DS_Store
_site
.jekyll-cache
__pycache__
.vscode/
docs/_build/
docs/build/
_build/
/docs/environments/**/*.md
/docs/environments/**/*.html
!/docs/environments/**/index.md

# Virtual environments
.env
.venv
venv

# log data
runs
videos
wandb
examples/WandB_Sweep_examples/models
examples/WandB_Sweep_examples/best_models
examples/WandB_Sweep_examples/eval_videos
examples/WandB_Sweep_examples/logs

